body{
  background-color: #d4801c;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: verdana;
  color: white;
  font-size: 160%;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

li a:hover {
  text-decoration: underline;
}

.active {
  background-color: #6b3a00;
}

#logo_box {
  position: absolute;
  width: 30%;
  top: 48%;
  left: 35%;
  margin-top: -15%;
}

#login_box {
  border-radius: 5px;
  background-color: #914f00;
  padding: 20px;
}

#logo_big {
  padding: 20px;
  color: white;
  font-family: Impact;
  font-size: 500%;
  text-align: center;
}

#main_box {
  width: 50%;
  border-radius: 5px;
  background-color: #914f00;
  padding: 20px;
  position: absolute;
  left: 25%;
  margin-left: -20px;
  margin-top: 30px;
}

#display_element {
  padding: 14px 20px;
  float: left;
  font-family: verdana;
  color: white;
  font-size: 100%;
  cursor: pointer;
}

#display_element:hover {
  font-weight: bold;
}

#left_box {
  width: 25%;
  float: left;
  overflow: auto;
  max-height: 220px;
  padding: 10px;
  background-color: #AF640B
}

#right_box {
  width: 70%;
  overflow: auto;
  max-height: 220px;
  background-color: #AF640B;
  margin-left: 10px;
  float: right;
}


h1 {
  font-family: verdana;
  color: white;
  font-size: 150%;
  font-weight: normal;
  text-align: center;
  margin-top: 40px;
  margin-bottom: -40px;
}

h2 {
  font-family: verdana;
  color: white;
  font-size: 150%;
  font-weight: normal;
  text-align: center;
}

#shipment {
  width: 50%;
  padding: 3px;
  font-family: verdana;
  font-size: 100%;
  color: white;
}
    
#message {
  color: white;
  text-align: center;
  font-family: tahoma;
  padding: 5px;
}

input[type=submit] {
  width: 100%;
  background-color: #6b3a00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #d4801c; //#e39c48;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #914f00;
  border: none;
  padding: 14px 20px;
  color: white;
  font-family: verdana;
  font-size: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  size: fixed;
}

.button:hover {
  font-weight: bold;
}

table {
  width: 90%;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  table-layout: fixed;
}

table, td, tr, th {
  text-align: center;
  color: white;
}

td, th {
  padding: 10px 5px;
  font-family: verdana;
  font-size: 100%;
}

#logout {
  position:absolute;
  top: 30px;
  right: 40px;
  font-family: verdana;
  font-size: 120%;
  color: white;
  cursor: pointer;
}

#logout:hover {
  text-decoration: underline;
}
