body{
  background-color: #d4801c;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: verdana;
  color: white;
  font-size: 160%;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

li a:hover {
  text-decoration: underline;
}

.active {
  background-color: #6b3a00;
}

#logo_box {
  position: absolute;
  width: 30%;
  top: 48%;
  left: 35%;
  margin-top: -15%;
}

#login_box {
  border-radius: 5px;
  background-color: #914f00;
  padding: 20px;
}

#logo_big {
  padding: 10px;
  color: white;
  font-family: Impact;
  font-size: 500%;
  text-align: center;
}

#main_box {
  width: 50%;
  border-radius: 5px;
  background-color: #914f00;
  padding: 20px;
  position: absolute;
  left: 25%;
  margin-left: -20px;
  margin-top: 30px;
}

#options_box {
  width: 30%;
  border-radius: 5px;
  background-color: #914f00;
  padding: 20px;
  position: absolute;
  left: 35%;
  margin-left: -20px;
  margin-top: 30px;
}

#display_element {
  padding: 14px 25px;
  float: left;
  font-family: verdana;
  color: white;
  font-size: 100%;
  cursor: pointer;
}

#display_element:hover {
  font-weight: bold;
}

#left_box {
  width: 25%;
  float: left;
  overflow: auto;
  max-height: 220px;
  padding: 10px;
  background-color: #AF640B;
  display: flex;
  flex-direction: column;
}

#right_box {
  width: 70%;
  overflow: auto;
  max-height: 220px;
  background-color: #AF640B;
  margin-left: 10px;
  float: right;
}

#full_box {
  width: 95%;
  overflow: auto;
  max-height: 350px;
  padding: 2.5%;
  background-color: #AF640B;
}

#half_box1 {
  width: 43%;
  overflow: auto;
  float: left;
  max-height: 350px;
  padding: 2.5%;
  background-color: #AF640B;
}

#half_box2 {
  width: 43%;
  overflow: auto;
  float: right;
  max-height: 350px;
  padding: 2.5%;
  background-color: #AF640B;
}

#fot_box {
  width: 20%;
  float: left;
  overflow: auto;
  max-height: 220px;
  background-color: #AF640B
}

#sot_box {
  width: 38.5%;
  overflow: auto;
  max-height: 220px;
  background-color: #AF640B;
  margin-left: 10px;
  float: left;
}

#tot_box {
  width: 38.5%;
  overflow: auto;
  max-height: 220px;
  background-color: #AF640B;
  margin-left: 10px;
  float: left;
}


h1 {
  font-family: verdana;
  color: white;
  font-size: 150%;
  font-weight: normal;
  text-align: center;
  margin-top: 40px;
  margin-bottom: -10px;
}

h2 {
  font-family: verdana;
  color: white;
  font-size: 150%;
  font-weight: normal;
  text-align: center;
}

h3 {
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: verdana;
  color: white;
  font-size: 160%;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: #6b3a00;
}

h4 {
  font-family: verdana;
  color: white;
  font-size: 110%;
  font-weight: bold;
  text-align: left;
  padding: 7px;
  margin-left: 8px;
}

#shipment {
  width: 50%;
  padding: 3px;
  font-family: verdana;
  font-size: 100%;
  color: white;
}
    
#message {
  color: white;
  text-align: center;
  font-family: tahoma;
  padding: 5px;
}

input[type=submit] {
  width: 100%;
  background-color: #6b3a00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #d4801c;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #914f00;
  border: none;
  padding: 14px 20px;
  color: white;
  font-family: verdana;
  font-size: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  font-weight: bold;
}

.small_table {
  width: 90%;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  table-layout: fixed;
}

table, td, tr, th {
  text-align: center;
  color: white;
}

td, th {
  padding: 10px 5px;
  font-family: verdana;
  font-size: 100%;
}

#logout {
  cursor: pointer;
  font-size: 120%;
  background-color: #d4801c;
  padding: 0;
}
#logout:hover {
  text-decoration: underline;
}

#options {
  cursor: pointer;
  font-size: 120%;
  background-color: #d4801c;
  padding: 0;
}
#options:hover {
  text-decoration: underline;
}

#logout_options_table {
  position:absolute;
  top: 20px;
  right: 30px;
}

.big_table {
  width: 100%;
  margin-bottom: 10px;
}

input[type=in_table] {
  width: 90%;
  display: inline-block;
  padding: 4px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  font-family: verdana;
  font-size: 100%;
}


.button_bottom {
  background-color: #914f00;
  border: none;
  padding: 14px 20px;
  color: white;
  font-family: verdana;
  font-size: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: black; /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #AF640B;
    margin: auto;
    max-height: 500px;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #6b3a00;
    text-decoration: none;
    cursor: pointer;
}